/*Admin side css */

.wpmediamodal{
    cursor : pointer;
}
.wpmediamodal_wrapper ul.preview {
    margin: 10px 0px 0px !important;
    float : none;
}
.wpmediamodal_wrapper ul.preview li.image {
    border: 0px solid #D5D5D5;
    position: relative;
    float: left;
    height: auto;
    margin: 0px 7px 7px 0px;
    cursor: move;
    border-radius: 2px;
    overflow: hidden;
}
#side-sortables .wpmediamodal_wrapper ul.preview li.image {
    /*width : 100%;*/
}
.wpmediamodal_wrapper ul.preview li.image img {
    width: 100%;
    height: auto;
    border-radius: 1px;
}
.wpmediamodal_wrapper ul.preview li.image {
    /*cursor: move;*/
}
.wpmediamodal_wrapper ul.preview li.image .delete_slide {
    position: absolute;
    top: 5px;
    right: 5px;
    text-indent: -9999px;
    font-family: Dashicons;
    text-decoration: none;
    cursor : pointer;
}
.wpmediamodal_wrapper ul.preview li.image .delete_slide:before{
    content: "\f153";
    font-size: 18px;
    width: 18px;
    height: 18px;
    color: #FFF;
    text-indent: initial;
    display: block;
    box-shadow: none;
}
.wpmediamodal_wrapper ul.preview li.image .delete_slide:hover:before{
    color : #AD0000;
}